.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #fff;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
 color:    #fff;
}

@media (min-width:480px) {
#logodiv{

}
}

      /* Styling for modal and overlay */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top of everything */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scrolling if needed */
        background-color: rgba(
          0,
          0,
          0,
          0.5
        ); /* Black background with opacity */
      }

      .modal-content {
        background-color: #fefefe;
        margin: 5% auto; /* Centered */
        padding: 5px;
        border: 1px solid #888;
        width: 80%; /* 80% of parent element */
        max-width: 600px; /* Maximum width */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        color:#000;
        align-items: center;
        justify-content: center;
      }

      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        width: 70px;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
